Repository RustamovRR/webiston: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, biome-format

lefthook.yml:

# Lefthook configuration for Webiston
# https://github.com/evilmartians/lefthook

# Pre-commit hooks - FAST validation
pre-commit:
  parallel: true
  commands:
    # OXC linting - 50-100x faster than ESLint
    oxlint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm oxlint {staged_files}
      
    # Biome formatting - 35x faster than Prettier
    biome-format:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

# Commit message validation
commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

# Pre-push hooks - Full validation before push
pre-push:
  parallel: true
  commands:
    # TypeScript type checking
    typecheck:
      run: pnpm tsc --noEmit
      
    # Full lint check
    lint-all:
      run: pnpm oxlint src/

# Skip hooks for emergency:
# git commit --no-verify -m "hotfix: emergency"
# git push --no-verify

refactor: latin2cyrillic converter
  src/constants/transliteration.ts
  src/lib/index.ts
  src/lib/transliteration.ts
  src/modules/tools/LatinCyrillic/LatinCyrillic.tsx
  src/modules/tools/LatinCyrillic/components/InfoSection.tsx
  src/modules/tools/LatinCyrillic/components/index.ts
  src/modules/tools/LatinCyrillic/constants/index.ts
  src/modules/tools/LatinCyrillic/constants/info-cards.tsx
  src/modules/tools/LatinCyrillic/constants/protected-words.ts
  src/modules/tools/LatinCyrillic/constants/samples.ts
  src/modules/tools/LatinCyrillic/hooks/index.ts
  src/modules/tools/LatinCyrillic/hooks/useLatinCyrillic.ts
  src/modules/tools/LatinCyrillic/index.ts
  src/modules/tools/LatinCyrillic/types/index.ts
  src/modules/tools/LatinCyrillic/utils/detect-script.ts
  src/modules/tools/LatinCyrillic/utils/helpers.ts
  src/modules/tools/LatinCyrillic/utils/index.ts
  src/modules/tools/LatinCyrillic/utils/mappings/index.ts
  src/modules/tools/LatinCyrillic/utils/mappings/russian-cyrillic-to-latin.ts
  src/modules/tools/LatinCyrillic/utils/mappings/uzbek-cyrillic-to-latin.ts
  src/modules/tools/LatinCyrillic/utils/mappings/uzbek-latin-to-cyrillic.ts
  src/modules/tools/LatinCyrillic/utils/transliterate.ts
  src/modules/tools/index.ts
Due: oxlint, biome-format

chore: lefthook configuration
  biome.json
  commitlint.config.mjs
  docs/testing-strategy.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/modules/tools/LatinCyrillic/README.md
  src/modules/tools/LatinCyrillic/__tests__/detect-script.test.ts
  src/modules/tools/LatinCyrillic/__tests__/helpers.test.ts
  src/modules/tools/LatinCyrillic/__tests__/transliterate.test.ts
  src/modules/tools/LatinCyrillic/hooks/useLatinCyrillic.ts
  vitest.config.ts
  vitest.setup.ts
Due: oxlint, biome-format

refactor: add file upload to latin2cyrillic
  biome.json
  messages/tools/latin-cyrillic/en.json
  messages/tools/latin-cyrillic/uz.json
  package.json
  pnpm-lock.yaml
  public/sitemap.xml
  src/components/shared/BaseModal/BaseModal.tsx
  src/components/shared/BaseModal/index.ts
  src/components/shared/index.ts
  src/components/ui/shimmer-button.tsx
  src/modules/tools/CameraRecorder/components/MediaPreviewModal.tsx
  src/modules/tools/LatinCyrillic/LatinCyrillic.tsx
  src/modules/tools/LatinCyrillic/components/ChunkSelector.tsx
  src/modules/tools/LatinCyrillic/components/DownloadMenu.tsx
  src/modules/tools/LatinCyrillic/components/FileUploadModal.tsx
  src/modules/tools/LatinCyrillic/components/FileUploadZone.tsx
  src/modules/tools/LatinCyrillic/components/index.ts
  src/modules/tools/LatinCyrillic/hooks/index.ts
  src/modules/tools/LatinCyrillic/hooks/useFileTransliterate.ts
  src/modules/tools/LatinCyrillic/types/file.ts
  src/modules/tools/LatinCyrillic/types/hooks.ts
  src/modules/tools/LatinCyrillic/types/index.ts
  src/modules/tools/LatinCyrillic/types/transliteration.ts
Due: oxlint, biome-format

fix: latin cyrillic and gradient tabs issues
  messages/tools/latin-cyrillic/en.json
  messages/tools/latin-cyrillic/uz.json
  src/components/mdx/NavigationStoreInitializer.tsx
  src/components/shared/DualTextPanel/DualTextPanel.tsx
  src/components/ui/gradient-tabs.tsx
  src/components/ui/number-ticker.tsx
  src/modules/tools/LatinCyrillic/LatinCyrillic.tsx
  src/modules/tools/LatinCyrillic/components/ChunkSelector.tsx
  src/modules/tools/LatinCyrillic/components/DownloadMenu.tsx
  src/modules/tools/LatinCyrillic/components/FileUploadModal.tsx
  src/modules/tools/LatinCyrillic/hooks/useFileTransliterate.ts
  src/modules/tools/LatinCyrillic/hooks/useLatinCyrillic.ts
  src/modules/tools/LatinCyrillic/stores/index.ts
  src/modules/tools/LatinCyrillic/stores/transliterationStore.ts
  src/modules/tools/LatinCyrillic/types/file.ts
  src/modules/tools/LatinCyrillic/utils/transliterate.ts
Due: oxlint, biome-format

refactor: transliterate file
  src/components/ui/dialog.tsx
  src/components/ui/dropdown-menu.tsx
  src/modules/tools/LatinCyrillic/__tests__/transliterate.test.ts
  src/modules/tools/LatinCyrillic/constants/protected-words.ts
  src/modules/tools/LatinCyrillic/utils/cyrillic-to-latin.ts
  src/modules/tools/LatinCyrillic/utils/helpers.ts
  src/modules/tools/LatinCyrillic/utils/latin-to-cyrillic.ts
  src/modules/tools/LatinCyrillic/utils/mappings/russian-cyrillic-to-latin.ts
  src/modules/tools/LatinCyrillic/utils/protection.ts
  src/modules/tools/LatinCyrillic/utils/transliterate.ts
Due: oxlint, biome-format

fix: some transliterate issues
  src/modules/tools/LatinCyrillic/__tests__/basic.test.ts
  src/modules/tools/LatinCyrillic/__tests__/edge-cases.test.ts
  src/modules/tools/LatinCyrillic/__tests__/protection.test.ts
  src/modules/tools/LatinCyrillic/__tests__/russian.test.ts
  src/modules/tools/LatinCyrillic/__tests__/transliterate.test.ts
  src/modules/tools/LatinCyrillic/components/FileUploadZone.tsx
  src/modules/tools/LatinCyrillic/constants/protected-words.ts
  src/modules/tools/LatinCyrillic/constants/protected-words/brands.ts
  src/modules/tools/LatinCyrillic/constants/protected-words/file-extensions.ts
  src/modules/tools/LatinCyrillic/constants/protected-words/frameworks.ts
  src/modules/tools/LatinCyrillic/constants/protected-words/index.ts
  src/modules/tools/LatinCyrillic/constants/protected-words/international.ts
  src/modules/tools/LatinCyrillic/constants/protected-words/javascript.ts
  src/modules/tools/LatinCyrillic/constants/protected-words/medical.ts
  src/modules/tools/LatinCyrillic/constants/protected-words/programming.ts
  src/modules/tools/LatinCyrillic/constants/protected-words/technology.ts
  src/modules/tools/LatinCyrillic/hooks/useLatinCyrillic.ts
  src/modules/tools/LatinCyrillic/utils/cyrillic-to-latin.ts
  src/modules/tools/LatinCyrillic/utils/latin-to-cyrillic.ts
  src/modules/tools/LatinCyrillic/utils/mappings/index.ts
  src/modules/tools/LatinCyrillic/utils/mappings/month-names.ts
  src/modules/tools/LatinCyrillic/utils/mappings/uzbek-latin-to-cyrillic.ts
  src/modules/tools/LatinCyrillic/utils/protection.ts
Due: oxlint, biome-format

fix: some protect words
  src/modules/tools/LatinCyrillic/constants/index.ts
  src/modules/tools/LatinCyrillic/constants/protected-words/file-extensions.ts
  src/modules/tools/LatinCyrillic/constants/protected-words/index.ts
  src/modules/tools/LatinCyrillic/constants/protected-words/javascript.ts
  src/modules/tools/LatinCyrillic/constants/protected-words/medical.ts
  src/modules/tools/LatinCyrillic/constants/protected-words/programming.ts
  src/modules/tools/LatinCyrillic/constants/protected-words/technology.ts
  src/modules/tools/LatinCyrillic/constants/uzbek-suffixes.ts
  src/modules/tools/LatinCyrillic/utils/cyrillic-to-latin.ts
  src/modules/tools/LatinCyrillic/utils/protection.ts
Due: oxlint, biome-format

fix: ts issue
  src/modules/tools/LatinCyrillic/utils/latin-to-cyrillic.ts
  src/modules/tools/LatinCyrillic/utils/mappings/uzbek-latin-to-cyrillic.ts
Due: oxlint, biome-format

fix: type iessues
  apps/extensions/latin-cyrillic/popup.tsx
  apps/extensions/latin-cyrillic/postcss.config.mjs
  biome.json
  lefthook.yml
  messages/index.js
  messages/tools/tools-page/en.json
  messages/tools/tools-page/uz.json
  package.json
  packages/transliteration/__tests__/detect-script.test.ts
  packages/transliteration/dist/index.d.mts
  packages/transliteration/dist/index.d.ts
  packages/transliteration/dist/index.js
  packages/transliteration/dist/index.mjs
  packages/transliteration/vitest.config.ts
  scripts/build-search-index.js
  scripts/update-tools-list.js
  src/components/shared/ThemeSwitcher/index.ts
  src/constants/index.tsx
  src/modules/tools/WebsiteStatus/WebsiteStatus.tsx
  vitest.config.ts
Due: oxlint, biome-format

feat: add extension popover
  apps/extensions/latin-cyrillic/entrypoints/background.ts
  apps/extensions/latin-cyrillic/entrypoints/content.ts
  apps/extensions/latin-cyrillic/entrypoints/popup/App.tsx
  apps/extensions/latin-cyrillic/entrypoints/popup/index.html
  apps/extensions/latin-cyrillic/entrypoints/popup/main.tsx
  apps/extensions/latin-cyrillic/entrypoints/popup/style.css
  apps/extensions/latin-cyrillic/node_modules/.bin/browserslist
  apps/extensions/latin-cyrillic/node_modules/.bin/esbuild
  apps/extensions/latin-cyrillic/node_modules/.bin/plasmo
  apps/extensions/latin-cyrillic/node_modules/.bin/svgo
  apps/extensions/latin-cyrillic/node_modules/@tailwindcss/postcss
  apps/extensions/latin-cyrillic/node_modules/@types/chrome
  apps/extensions/latin-cyrillic/node_modules/@webiston/ui
  apps/extensions/latin-cyrillic/node_modules/plasmo
  apps/extensions/latin-cyrillic/package.json
  apps/extensions/latin-cyrillic/popup.tsx
  apps/extensions/latin-cyrillic/postcss.config.mjs
  apps/extensions/latin-cyrillic/public/icon/128.png
  apps/extensions/latin-cyrillic/public/icon/16.png
  apps/extensions/latin-cyrillic/public/icon/32.png
  apps/extensions/latin-cyrillic/tsconfig.json
  apps/extensions/latin-cyrillic/wxt.config.ts
Due: oxlint, biome-format

feat: add extension popover
  .gitignore
  biome.json
  oxlint.json
  package.json
  packages/transliteration/dist/index.d.mts
  packages/transliteration/dist/index.d.ts
  packages/transliteration/dist/index.js
  packages/transliteration/dist/index.mjs
  packages/transliteration/package.json
  pnpm-lock.yaml
  public/sitemap.xml
Due: oxlint, biome-format

fix: popover design
  apps/extensions/latin-cyrillic/entrypoints/content.ts
  apps/extensions/latin-cyrillic/entrypoints/popup/App.tsx
  apps/extensions/latin-cyrillic/entrypoints/popup/style.css
Due: oxlint, biome-format

fix: issues
  apps/extensions/latin-cyrillic/entrypoints/background.ts
  apps/extensions/latin-cyrillic/entrypoints/popup/App.tsx
  public/sitemap.xml
  tsconfig.json
Due: oxlint, biome-format

fix: latin-cyrillic info section texts
  messages/tools/latin-cyrillic/en.json
  messages/tools/latin-cyrillic/uz.json
  src/app/(app)/[locale]/page.tsx
  src/app/(app)/[locale]/tools/latin-cyrillic/page.tsx
  src/constants/ui.ts
  src/modules/tools/LatinCyrillic/components/InfoSection.tsx
  src/modules/tools/LatinCyrillic/constants/index.ts
  src/modules/tools/ToolsMainPage.tsx
Due: oxlint, biome-format

fix: space
  src/modules/tools/LatinCyrillic/components/InfoSection.tsx
Due: oxlint, biome-format

refactor: latin-cyrillic seo page
  public/sitemap.xml
  src/app/(app)/[locale]/tools/latin-cyrillic/page.tsx
  src/modules/tools/LatinCyrillic/seo/index.ts
  src/modules/tools/LatinCyrillic/seo/keywords.ts
  src/modules/tools/LatinCyrillic/seo/metadata.ts
  src/modules/tools/LatinCyrillic/seo/schemas.ts
  tools-list.json
Due: oxlint, biome-format

fix: hover text
  src/components/mdx/TutorialLanding/TutorialLanding.tsx
Due: oxlint, biome-format

feat: add chrome extension with monorepo structure
  .gitignore
  apps/extensions/latin-cyrillic/README.md
  public/sitemap.xml
  src/modules/tools/IpInfo/hooks/useIPInfo.ts
  src/modules/tools/ScreenResolution/hooks/useScreenResolution.ts
  src/modules/tools/UserAgentAnalyzer/hooks/useUserAgentAnalyzer.ts
Due: oxlint, biome-format

chore: install packages
  apps/extensions/latin-cyrillic/node_modules/@types/react
  apps/extensions/latin-cyrillic/node_modules/@types/react-dom
  apps/extensions/latin-cyrillic/node_modules/react
  apps/extensions/latin-cyrillic/node_modules/react-dom
  apps/extensions/latin-cyrillic/node_modules/tailwindcss
  packages/transliteration/node_modules/.bin/esbuild
  packages/transliteration/node_modules/.bin/tsup
  packages/transliteration/node_modules/.bin/tsup-node
  packages/transliteration/node_modules/.bin/vitest
  packages/transliteration/node_modules/tsup
  packages/transliteration/node_modules/vitest
  packages/ui/node_modules/@radix-ui/react-accordion
  packages/ui/node_modules/@radix-ui/react-dialog
  packages/ui/node_modules/@radix-ui/react-dropdown-menu
  packages/ui/node_modules/@radix-ui/react-navigation-menu
  packages/ui/node_modules/@radix-ui/react-select
  packages/ui/node_modules/@radix-ui/react-separator
  packages/ui/node_modules/@radix-ui/react-slot
  packages/ui/node_modules/framer-motion
  packages/ui/node_modules/lucide-react
  packages/ui/node_modules/react
  packages/ui/node_modules/react-dom
  packages/ui/node_modules/sonner
  packages/ui/node_modules/tailwind-merge
  packages/ui/node_modules/usehooks-ts
  pnpm-lock.yaml
Due: none

feat: add translation spec files
  content/ai-engineering/10-ai-engineering-architecture/ai-engineering-architecture/page.mdx
  content/ai-engineering/10-ai-engineering-architecture/page.mdx
  content/ai-engineering/10-ai-engineering-architecture/summary/page.mdx
  content/ai-engineering/10-ai-engineering-architecture/user-feedback/page.mdx
  content/ai-engineering/6-rag-and-agents/agents/page.mdx
  content/ai-engineering/6-rag-and-agents/memory/page.mdx
  content/ai-engineering/6-rag-and-agents/summary/page.mdx
  content/ai-engineering/7-finetuning/finetuning-overview/page.mdx
  content/ai-engineering/7-finetuning/finetuning-techniques/page.mdx
  content/ai-engineering/7-finetuning/memory-bottlenecks/page.mdx
  content/ai-engineering/7-finetuning/page.mdx
  content/ai-engineering/7-finetuning/summary/page.mdx
  content/ai-engineering/7-finetuning/when-to-finetune/page.mdx
  content/ai-engineering/8-dataset-engineering/data-augmentation-and-synthesis/page.mdx
  content/ai-engineering/8-dataset-engineering/data-curation/page.mdx
  content/ai-engineering/8-dataset-engineering/data-processing/page.mdx
  content/ai-engineering/8-dataset-engineering/page.mdx
  content/ai-engineering/8-dataset-engineering/summary/page.mdx
  content/ai-engineering/9-inference-optimization/inference-optimization/page.mdx
  content/ai-engineering/9-inference-optimization/page.mdx
  content/ai-engineering/9-inference-optimization/summary/page.mdx
  content/ai-engineering/9-inference-optimization/understanding-inference-optimization/page.mdx
  docs/PROJECT_ARCHITECTURE.md
  docs/translation/PERSONA_AI_ENG.md
  docs/translation/PROJECT_STATE.md
  docs/translation/TRANSLATOR.md
  docs/translation/glossary.md
  glossary.md
Due: none

feat: 'contextual retrieval' topic
  content/ai-engineering/6-rag-and-agents/rag/page.mdx
  docs/translation/PERSONA_AI_ENG.md
  docs/translation/glossary.md
Due: none

feat: complete 'rag' chapter
  content/ai-engineering/6-rag-and-agents/rag/page.mdx
  docs/translation/PROJECT_STATE.md
Due: none

feat: add 'agents' intro
  biome.json
  content/ai-engineering/6-rag-and-agents/agents/page.mdx
  content/ai-engineering/_meta.json
  docs/translation/glossary.md
Due: biome-format

fix: add persona
  content/ai-engineering/6-rag-and-agents/agents/page.mdx
  docs/translation/PERSONA_AI_ENG.md
  docs/translation/TRANSLATOR.md
Due: none

fix: update steering files
  .kiro/steering/ai-instructions.md
  .kiro/steering/code-rules.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
Due: none

chore: establish project documentation, architectural decision records, and AI agent instructions
  .claude/agents/code-reviewer.md
  .claude/agents/content-reviewer.md
  .claude/agents/design-system-reviewer.md
  .claude/agents/seo-performance-auditor.md
  AGENTS.md
  CLAUDE.md
  commitlint.config.mjs
  docs/README.md
  docs/adr/0001-hybrid-monorepo-src-at-root.md
  docs/adr/0002-design-tokens-single-source.md
  docs/adr/README.md
  docs/archive/README.md
  docs/reference/architecture.md
  docs/reference/code-rules.md
  docs/reference/content-i18n.md
  docs/reference/design-system.md
  docs/reference/seo-performance.md
  docs/reference/testing-strategy.md
  docs/roadmap/active.md
  docs/roadmap/backlog.md
Due: none

chore: update dependencies, fix microphone echo cancellation logic, and refine gitignore rules
  .gitignore
  apps/extensions/latin-cyrillic/package.json
  next.config.ts
  package.json
  packages/transliteration/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  public/sitemap.xml
  src/modules/tools/MicrophoneTest/hooks/useMicrophoneTest.ts
Due: oxlint, biome-format

chore: upgrade all project dependencies, resolve build-time issues, and refresh documentation roadmap
  docs/roadmap/active.md
  docs/roadmap/backlog.md
Due: none

chore(config): make git hooks fast and fix stale lefthook binary
  biome.json
  lefthook.yml
Due: biome-format

docs: update testing strategy documentation and remove obsolete project steering files
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  PROJECT_ARCHITECTURE.md
  docs/reference/testing-strategy.md
Due: none

docs: initialize ADRs and project roadmap initiatives while refining UI component constants and accessibility configurations
  CLAUDE.md
  docs/README.md
  docs/adr/0003-typescript-7-with-experimental-next-cli.md
  docs/adr/0004-no-feature-sliced-design.md
  docs/adr/README.md
  docs/archive/2026-07_dependency-upgrade-and-tooling.md
  docs/archive/README.md
  docs/roadmap/active.md
  docs/roadmap/backlog.md
  docs/roadmap/initiatives/README.md
  docs/roadmap/initiatives/code-structure.md
  docs/roadmap/initiatives/content-and-i18n.md
  docs/roadmap/initiatives/design-system.md
  docs/roadmap/initiatives/seo-and-rendering.md
  docs/roadmap/initiatives/tooling-ci-and-testing.md
  packages/ui/src/constants/ui-patterns.ts
  packages/ui/src/index.ts
  packages/ui/src/primitives/dialog.tsx
  packages/ui/src/primitives/gradient-tabs.tsx
  packages/ui/src/primitives/mode-switch.tsx
Due: oxlint, biome-format

refactor: replace hardcoded color palettes with semantic CSS variables and add token-based audit scripts
  docs/roadmap/active.md
  docs/roadmap/backlog.md
  docs/roadmap/initiatives/design-system.md
  lefthook.yml
  package.json
  public/sitemap.xml
  scripts/contrast-check.mjs
  scripts/token-baseline.json
  scripts/token-guardrail.mjs
  src/app/globals.css
  src/app/layout.tsx
Due: oxlint, biome-format

chore: refactor component structure and update sitemap, documentation, and design system constants
  docs/roadmap/active.md
  docs/roadmap/initiatives/code-structure.md
  docs/roadmap/initiatives/design-system.md
  packages/ui/src/composites/BaseModal/BaseModal.tsx
  packages/ui/src/composites/InfoCard/InfoCard.tsx
  packages/ui/src/constants/ui-patterns.ts
  packages/ui/src/primitives/gradient-tabs.tsx
  public/sitemap.xml
  scripts/token-baseline.json
  src/components/shared/ButtonLink/ButtonLink.tsx
  src/components/shared/DualTextPanel/DualTextPanel.tsx
  src/components/shared/LanguageSelector/LanguageSelector.tsx
  src/components/shared/LanguageSelector/LanguageSelectorContent.tsx
  src/components/shared/SectionTitle/SectionTitle.tsx
  src/components/shared/SimpleCard/SimpleCard.tsx
  src/components/shared/TerminalInput/TerminalInput.tsx
  src/components/shared/ToolHeader/ToolHeader.tsx
  src/constants/ui-constants.ts
Due: oxlint, biome-format

chore: pin package manager, stabilize sitemap generation, and improve token guardrail coverage
  docs/roadmap/backlog.md
  docs/roadmap/initiatives/design-system.md
  docs/roadmap/initiatives/tooling-ci-and-testing.md
  next-sitemap.config.js
  package.json
  packages/ui/src/composites/BaseModal/BaseModal.tsx
  pnpm-workspace.yaml
  public/sitemap.xml
  scripts/token-baseline.json
  scripts/token-guardrail.mjs
  src/components/shared/ButtonLink/ButtonLink.tsx
  src/components/shared/LanguageSelector/LanguageSelector.tsx
  src/components/shared/ToolHeader/ToolHeader.tsx
Due: oxlint, biome-format

fix: resolve i18n runtime errors by aligning message keys and implementing a parity check script
  docs/roadmap/initiatives/content-and-i18n.md
  messages/common/en.json
  messages/common/uz.json
  messages/tools/url-encoder/en.json
  package.json
  scripts/i18n-parity.mjs
  src/components/shared/Search/Search.tsx
  src/components/shared/Search/SearchComponents.tsx
  src/components/shared/Search/SearchDialog.tsx
  src/components/shared/ThemeToggle/ThemeToggle.tsx
  src/components/shared/ToolPanel/ToolPanel.tsx
Due: oxlint, biome-format
